@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@glidejs/glide/dist/css/glide.core.css";

@import "node_modules/@glidejs/glide/dist/css/glide.theme.css";

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}

@layer components {
  @-webkit-keyframes moving-svg-path {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -20;
    }
  }

  @keyframes moving-svg-path {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -20;
    }
  }

  .row {
    @apply flex flex-row;
  }

  .col {
    @apply flex flex-col;
  }

  .nav {
    @apply flex text-[1.1703vw] font-semibold leading-[1.4304vw] text-[#717272] hover:text-newBlack;
  }

  .bg-image {
    @apply h-[50.130208333333336vw] w-full bg-cover bg-center;
  }

  .destination-image {
    @apply min-h-full rounded-[0.91145vw] border-[0.1145vw] border-newBlack object-cover;
  }

  .title {
    @apply text-[6.51vw] font-extrabold leading-[7.942708vw];
  }

  .bg-semi-title {
    @apply text-[4.1666vw] font-medium leading-[5.078125vw];
  }

  .med-title {
    @apply text-[2.864vw] font-bold leading-[2.864vw] text-newBlack;
  }

  .semi-title {
    @apply text-[2.34vw] font-bold leading-[2.864vw] text-newBlack;
  }

  .new-page {
    @apply col gap-[9vw];
  }

  .card-title {
    @apply truncate text-[1.302vw] font-bold leading-[1.5625vw] text-newBlack;
  }

  .card-image {
    @apply rounded-t-[0.651vw] object-cover;
  }

  .card-detail {
    @apply truncate text-[1.1315vw] font-medium leading-[1.3698vw] text-newGrey;
  }

  .paragraph {
    @apply text-[1.69vw] font-normal leading-[2.864vw] text-newGrey;
  }

  .detail {
    @apply text-[1.302vw] font-medium leading-[1.5625vw] text-newGrey;
  }

  .description {
    @apply col gap-[2.34375vw];
  }

  .image {
    @apply min-h-full rounded-[0.52vw] object-cover;
  }

  .darken {
    @apply brightness-75;
  }

  .lighten {
    @apply fill-gray-300;
  }

  .redZone {
    @apply fill-[#FF0000];
  }

  .center {
    @apply fill-newBlack;
  }

  .blackDot {
    @apply fill-newBlack;
  }

  .mapDestination {
    transition: opacity 0.3s ease;
    @apply absolute box-border block fill-transparent;
  }

  .line {
    stroke-dasharray: 20 20;
    @apply absolute stroke-newBlack stroke-[6];
  }

  .lineAnimation .line {
    -webkit-animation-name: moving-svg-path;
    animation-name: moving-svg-path;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    stroke-dasharray: 20 20;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .lineInactive {
    opacity: 0.2;
  }

  .lineAnimation .blackDot {
    r: 20;
  }

  .line2 {
    stroke-dasharray: 5 5;
    @apply absolute stroke-newBlack stroke-[2];
  }

  .lineAnimation2 .line2 {
    -webkit-animation-name: moving-svg-path;
    animation-name: moving-svg-path;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    stroke-dasharray: 5 5;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .lineAnimation2 .blackDot {
    r: 7;
  }

  .svg {
    @apply relative mx-auto w-[14.057942708333334vw];
  }

  .slick-list {
    @apply w-full overflow-hidden;
  }

  .slick-track {
    @apply flex gap-[1.2369vw];
  }
}
